.tasks-card {
  margin: 0 auto;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
}

td,
th {
  padding: 12px;
}

.empty-state {
  padding: 24px;
  text-align: center;
  opacity: 0.7;
}
