.tasks-card {
  flex: 1 1 100%;
  margin: 0 auto;
  
  overflow-x: hidden;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

td,
th {
  padding: 12px;
  white-space: normal;
  word-break: break-word;
}

.mat-column-action {
  width: 100px;
  text-align: center;
  white-space: nowrap;
}

.empty-state {
  padding: 24px;
  text-align: center;
  opacity: 0.7;
}