.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: var(--app-background);
  color: var(--mdc-theme-on-background);
}

i {
  margin-right: 20px;
  vertical-align: middle;
}
span {
  font-size: small;
}
