.card-grid {
  width: 97%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  box-sizing: border-box;
}

.poster-image-wrapper {
  position: relative;
}

@media (max-width: 720px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .poster-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.avatar-img.blurred {
  filter: blur(8px);
}