<h2 class=>Newbie</h2>
<div class="card-grid">
  <div
    *ngFor="let actress of avbaseIndexData?.newbie_talents"
    class="actress-card"
    (click)="cardClick(actress.name)"
  >
    <img
      [src]="actress.avatar_url || 'assets/favicon.ico'"
      [alt]="actress.name"
      class="avatar-img"
      loading="lazy"
      [class.blurred]="PageExploreService.isEnableBlur$() | async"
    />
    <div>{{ actress.name }}</div>
  </div>
</div>

<h2>Popular</h2>
<div class="card-grid">
  <div
    *ngFor="let actress of avbaseIndexData?.popular_talents"
    class="actress-card"
    (click)="cardClick(actress.name)"
  >
    <img
      [src]="actress.avatar_url"
      [alt]="actress.name"
      class="avatar-img"
      loading="lazy"
            [class.blurred]="PageExploreService.isEnableBlur$() | async"
    />
    <div>{{ actress.name }}</div>
  </div>
</div>

<h2>Released on {{ currentDate | date : "yyyy-MM-dd" }}</h2>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>

<div *ngFor="let group of releaseData">
  <h3>{{ group.prefixName }}</h3>
  <div class="poster-grid">
    <app-movie-card
      *ngFor="let work of group.works"
      [id]="work.work_id"
      [title]="work.title"
      [imgUrl]="work.products[0].image_url || ''"
      [actors]="getActorNames(work.actors)"
      (movieClick)="posterClick(work.prefix,work.work_id)"
      [enableBlur]="PageExploreService.isEnableBlur$() | async"
    ></app-movie-card>
  </div>
</div>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>
