<h2>Newbie</h2>
<div class="card-grid">
  <div
    *ngFor="let actress of avbaseIndexData?.newbie_talents"
    class="actress-card"
    (click)="cardClick(actress.name)"
  >
    <div class="avatar-wrapper">
      <img
        [src]="actress.avatar_url || 'assets/logo.svg'"
        [alt]="actress.name"
        class="avatar-img"
        loading="lazy"
        [class.blurred]="PageExploreService.isEnableBlur$() | async"
      />
    </div>
    <div>{{ actress.name }}</div>
  </div>
</div>

<h2>Popular</h2>
<div class="card-grid">
  <div
    *ngFor="let actress of avbaseIndexData?.popular_talents"
    class="actress-card"
    (click)="cardClick(actress.name)"
  >
    <div class="avatar-wrapper">
      <img
        [src]="actress.avatar_url"
        [alt]="actress.name"
        class="avatar-img"
        loading="lazy"
        [class.blurred]="PageExploreService.isEnableBlur$() | async"
      />
    </div>
    <div>{{ actress.name }}</div>
  </div>
</div>

<div class="release-header">
  <div class="date-jump" (click)="picker.open()">
    <h2 class="jump-title">
      Released on {{ currentDate | date : "yyyy-MM-dd" }}
    </h2>
    <mat-icon class="calendar-icon">calendar_month</mat-icon>
    <input
      matInput
      [matDatepicker]="picker"
      [value]="currentDate"
      (dateChange)="onDateChange($event)"
      class="hidden-input"
    />
    <mat-datepicker #picker></mat-datepicker>
  </div>
</div>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>

<div *ngFor="let group of releaseData">
  <h3>{{ group.maker }}</h3>
  <div class="poster-grid">
    <app-movie-card
      *ngFor="let work of group.works"
      [id]="work.id"
      [title]="work.title"
      [imgUrl]="work.img_url"
      [actors]="work.actors"
      (movieClick)="posterClick(work.full_id)"
      [enableBlur]="PageExploreService.isEnableBlur$() | async"
    ></app-movie-card>
  </div>
</div>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>
