<h2>FC2 Ranking</h2>
<mat-form-field appearance="outline">
  <mat-label>Ranking Type</mat-label>
  <mat-select
    [(ngModel)]="currentRankingType"
    (ngModelChange)="onWorkRankingTypeChange($event)"
  >
    <mat-select-trigger>
      {{ rankingTypeLabels[currentRankingType] || "Select Type" }}
    </mat-select-trigger>

    <mat-option [value]="RankingType.Realtime">Realtime</mat-option>
    <mat-option [value]="RankingType.Daily">Daily</mat-option>
    <mat-option [value]="RankingType.Weekly">Weekly</mat-option>
    <mat-option [value]="RankingType.Monthly">Monthly</mat-option>
    <mat-option [value]="RankingType.Yearly">Yearly</mat-option>
  </mat-select>
</mat-form-field>

<app-pagination
  [page]="currentPage"
  (previousClick)="prevPage()"
  (nextClick)="nextPage()"
></app-pagination>

<div class="poster-grid">
  <app-movie-card
    *ngFor="let work of rankingData"
    [id]="work.article_id"
    [title]="work.title"
    [imgUrl]="work.cover || ''"
    (movieClick)="posterClick(work.article_id)"
        [enableBlur]="PageExploreService.isEnableBlur$() | async"
  ></app-movie-card>
</div>

<app-pagination
  [page]="currentPage"
  (previousClick)="prevPage()"
  (nextClick)="nextPage()"
></app-pagination>
