.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 500px;
  width: 90vw;
  max-height: 80vh;
  height: auto;
  background-color: var(--app-background);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 20px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
}

.mat-autocomplete-panel {
  width: 100% !important;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  padding: 4px 0;
}

.dialog-header h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
  margin: 0;
}

mat-input {
  border-radius: 4px;
  padding: 10px;
}

mat-input:focus {
  outline: none;
}

.search-type-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-button {
  width: 100%;
  padding: 12px 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease;
  gap: 8px;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.icon-left {
  position: absolute;
  left: 16px;
  pointer-events: none;
}

.label-text {
  flex: 1;
  text-align: center;
  user-select: none;
}
