<div class="dialog-container">
  <div class="dialog-header">
    <h2>Download Option</h2>
  </div>

  <div class="dialog-body">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Save Path</mat-label>
      <input
        matInput
        [(ngModel)]="savePath"
        [matAutocomplete]="auto"
        (keydown.enter)="download()"
        placeholder="Enter or Select Save Path"
      />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="download()" class="search-button">
      <div class="button-content">
        <mat-icon class="icon-left">download</mat-icon>
        <span class="label-text">Download</span>
      </div>
    </button>
  </div>
</div>
