.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 500px;
  width: 90vw;
  max-height: 80vh;
  height: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 20px;
  border: var(--border-color) 1px solid;
  
}

.mat-autocomplete-panel {
  width: 100% !important;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  padding: 4px 0;
}

.dialog-header h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
  margin: 0;
}

mat-input {
  border-radius: 4px;
  padding: 10px;
}

mat-input:focus {
  outline: none;
}

.search-type-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
      border: var(--border-color) 1px solid;
}

button:hover {
  background-color: #808080;
}

button:focus {
  outline: none;
}
