<div class="card-grid">
  <mat-card *ngFor="let actress of ActressList" class="actress-card">
    <div class="card-content" (click)="onClick(actress.name)">
      <div class="avatar-wrapper">
        <img
          [src]="actress.avatar_url || 'assets/logo.svg'"
          alt="Actress Avatar"
          class="avatar-img"
          [class.blurred]="PerformerSubscriptionService.isEnableBlur$() | async"
        />
      </div>
      <mat-card-title class="title">{{ actress.name }}</mat-card-title>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="menu-button"
      (click)="openMenu($event, actress)"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onClick(contextActress.title)">
      <mat-icon>info</mat-icon>
      <span>{{ 'SUBSCRIPTION.VIEW_DETAILS' | translate }}</span>
    </button>
    <button mat-menu-item (click)="onUnsubscribeClick($event, contextActress)">
      <mat-icon>cancel</mat-icon>
      <span>{{ 'SUBSCRIPTION.UNSUBSCRIBE' | translate }}</span>
    </button>
  </mat-menu>
</div>
