.toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  background-color: var(--app-background);
  color: var(--mdc-theme-on-background);
}

.spacer {
  flex: 1;
}

.toolbar i {
  margin-right: 8px;
}

.toolbar i:hover {
  cursor: pointer;
}

.icon {
  color: var(--text-color);
}
