<mat-toolbar color="primary" class="toolbar">
  <i class="fas fa-arrow-left icon" (click)="goBack()" aria-label="Back"></i>
  <i
    class="fas fa-bars toolbar-icon icon"
    (click)="toggleSidebar()"
    aria-label="Toggle Sidebar"
  ></i>
  <span class="spacer"></span>
  <i
    class="fas"
    [ngClass]="themeService.getThemeIcon() + ' icon'"
    (click)="themeService.toggleTheme()"
    aria-label="changeTheme"
  >
  </i>
  <i
    class="fas"
    [ngClass]="commonService.enableBlur ? 'fa-eye-slash' : 'fa-eye'"
    (click)="commonService.toggleBlur()"
    aria-label="image-blur"
  ></i>
  <i class="fas fa-search icon" (click)="OpenSearch()" aria-label="Search"></i>
</mat-toolbar>
