<mat-card class="stats-card">
  <mat-card-header>
    <h2 class="card-title">Count</h2>
  </mat-card-header>

  <mat-card-content>
    <div class="grid">
      <ng-container *ngFor="let item of counts | keyvalue">
        <mat-card class="count-card" *ngIf="item.value > 0">
          <div class="count-content">
            <i class="fas" [ngClass]="getIconClass(item.key)"></i>
            <div class="count-text">
              <div class="count-name">{{ item.key.replace("Count", "") }}</div>
              <div class="count-value">{{ item.value }}</div>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
