<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-th-large tab-icon"></i>
      Library
    </ng-template>
    <ng-template matTabContent>
      <div class="top-row">
        <div class="left">
          <app-library-statistic></app-library-statistic>
        </div>
        <div class="right">
          <app-library-view></app-library-view>
        </div>
      </div>
      <div class="section"><app-recently-added></app-recently-added></div>
      <div class="section"><app-resume-watching></app-resume-watching></div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-chart-bar tab-icon"></i>
      Statistic
    </ng-template>
    <ng-template matTabContent>
      <app-download-statistic></app-download-statistic>
    </ng-template>
  </mat-tab>
</mat-tab-group>
