.movie-card {
  position: relative;
  border: var(--border-color) 1px solid;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-top: 66.67%;
  position: relative;
}

.movie-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.movie-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-meta {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}

.movie-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.movie-tag {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 10px;
}

.movie-date {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: #fff;
  z-index: 2;
}

.movie-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-img.blurred {
  filter: blur(16px);
}

.movie-card:hover .movie-img.blurred {
  filter: blur(0);
}

.library-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  background-color: white;
  color: #4caf50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 2px solid #4caf50;
}

.library-icon i {
  color: #4caf50;
  font-size: 1.5rem;
  line-height: 1;
}

.menu-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 2px solid white;
}

.menu-btn i {
  color: white;
  font-size: 1.5rem;
  line-height: 1;
}
