.pagination-buttons {
  margin: 10px;
  display: flex;
  gap: 12px;
  justify-content: right;
}

.pagination-icon {
  cursor: pointer;
  font-size: 28px;
  transition: color 0.2s, transform 0.1s;
}

.pagination-icon:hover {
  transform: scale(1.1);
}

.pagination-icon.disabled {
  color: #aaa;
  pointer-events: none;
}