.pagination-buttons {
  margin: 10px;
  display: flex;
  gap: 12px;
  justify-content: right;
}
button[mat-icon-button] {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
    border: var(--border-color) 1px solid;
}

button[mat-icon-button]:hover {
  transform: scale(1.1);
}
