<h1 class="current-date">
  {{ 'EXPLORE.RELEASED_ON' | translate }} {{ currentDate | date : "yyyy-MM-dd" }}
</h1>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>

<div *ngIf="releaseData">
  <div *ngFor="let studio of releaseData.studios" class="section">
    <h2>{{ studio.name }} ({{ studio.jpName }})</h2>

    <div class="poster-grid">
      <app-movie-card
        *ngFor="let video of studio.videos"
        
        [title]="video.dvdId"
        [imgUrl]="video.image"
        [actors]="[]"
        (movieClick)="posterClick($event)"
      ></app-movie-card>
    </div>
  </div>
</div>

<app-pagination
  (previousClick)="prevDay()"
  (nextClick)="nextDay()"
></app-pagination>
