.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--app-background);
  color: var(--mdc-theme-on-background);
}

.dashboard {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main-content {
    flex: 1;
  }
}
