<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-star tab-icon"></i>
      {{ 'SUBSCRIPTION.TAB_SUBSCRIPTION' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-production-subscription-list></app-production-subscription-list>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-history tab-icon"></i>
      {{ 'SUBSCRIPTION.TAB_HISTORY' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-download-history></app-download-history>
    </ng-template>
  </mat-tab>
</mat-tab-group>
