<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-user-cog tab-icon"></i>
      {{ 'SETTINGS.ENV_PASSWORD' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-environment-variable></app-environment-variable>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-tasks tab-icon"></i>
      {{ 'SETTINGS.BACKGROUND_TASKS' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-background-tasks></app-background-tasks>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-key tab-icon"></i>
      {{ 'SETTINGS.ACCOUNT_SECURITY' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-change-password></app-change-password>
    </ng-template>
  </mat-tab>
</mat-tab-group>
