<div class="poster-grid">
  <div class="poster-wrapper" *ngFor="let movie of keywordFeeds">
    <app-movie-card
      [id]="movie.work_id"
      [title]="movie.title"
      [imgUrl]="movie.products[0].image_url || ''"
      [actors]="getActorNames(movie.actors)"
      (movieClick)="posterClick(movie.prefix,movie.work_id)"
      (movieDelete)="onUnsubscribeClick()"
      [showID]="false"
      [showDetialButton]="true"
      [enableBlur]="ProductionSubscriptionService.isEnableBlur$() | async"
    ></app-movie-card>
  </div>
</div>
