<h2>Monthly Ranking of Actress</h2>

<div>
  <div class="card-grid">
    <div
      *ngFor="let actress of actressList"
      class="actress-card"
      (click)="cardClick(actress.name)"
    >
      <div class="rank-badge">{{ actress.rank }}</div>
      <img
        [src]="actress.image || 'assets/favicon.ico'"
        [alt]="actress.name"
        class="avatar-img"
                    [class.blurred]="PageExploreService.isEnableBlur$() | async"
        loading="lazy"
      />
      <div>{{ actress.name }}</div>
    </div>
  </div>
</div>

<app-pagination
  [page]="currentPage"
  (previousClick)="prevPage()"
  (nextClick)="nextPage()"
></app-pagination>

<h2>Ranking of Works</h2>
<mat-form-field appearance="outline">
  <mat-label>Ranking Type</mat-label>
  <mat-select
    [(ngModel)]="workRankingType"
    (ngModelChange)="onWorkRankingTypeChange($event)"
  >
    <mat-select-trigger>
      {{
        workRankingType === RankingTypeOfWorks.Daily
          ? "Daily"
          : workRankingType === RankingTypeOfWorks.Weekly
          ? "Weekly"
          : workRankingType === RankingTypeOfWorks.Monthly
          ? "Monthly"
          : "Select Type"
      }}
    </mat-select-trigger>

    <mat-option [value]="RankingTypeOfWorks.Daily">Daily</mat-option>
    <mat-option [value]="RankingTypeOfWorks.Weekly">Weekly</mat-option>
    <mat-option [value]="RankingTypeOfWorks.Monthly">Monthly</mat-option>
  </mat-select>
</mat-form-field>

<app-pagination
  [page]="currentWorkPage"
  (previousClick)="prevWorkPage()"
  (nextClick)="nextWorkPage()"
></app-pagination>

<div class="poster-grid">
  <app-movie-card
    *ngFor="let work of workList"
    [id]="work.number"
    [title]="work.title"
    [imgUrl]="work.image"
    [actors]="work.actresses"
    [rank]="work.rank"
    (movieClick)="posterClick($event)"
                [class.blurred]="PageExploreService.isEnableBlur$() | async"
  ></app-movie-card>
</div>

<app-pagination
  [page]="currentWorkPage"
  (previousClick)="prevWorkPage()"
  (nextClick)="nextWorkPage()"
></app-pagination>
