<div class="thetop">
  <div class="movie-containerr">
    <div class="movie-left">
      <h2>
        {{ movieData?.props?.pageProps?.work?.work_id || "Loading" }} -
        {{ movieData?.props?.pageProps?.work?.title || "Loading" }}
      </h2>
      <div class="movie-cover">
        <img
          loading="eager"
          [src]="movieData?.props?.pageProps?.work?.products?.[0]?.image_url"
          alt="Movie Cover"
          class="movie-cover-img"
        />
      </div>

      <div class="tag-and-actions">
        <div class="tag-list">
          <mat-chip-set>
            <mat-chip
              *ngFor="let genre of movieData?.props?.pageProps?.work?.genres"
              class="tag"
            >
              {{ genre?.name }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>
    </div>

    <div class="movie-right">
      <h2>Options</h2>
      <div class="movie-actions">
        <button
          mat-icon-button
          (click)="downloadMovie()"
          matTooltip="搜索"
          aria-label="搜索"
        >
          <i class="fas fa-search"></i> Search
        </button>

        <button
          mat-icon-button
          (click)="subscribeToMovie()"
          matTooltip="订阅"
          aria-label="订阅"
        >
          <i class="fas fa-rss"></i> Subscribe
        </button>
        <button
          mat-icon-button
          (click)="toJable(movieData?.props?.pageProps?.work?.work_id)"
          matTooltip="Jable"
          aria-label="Jable"
        >
          <i class="fas fa-play-circle"></i> Jable
        </button>
        <button
          mat-icon-button
          (click)="toMissAV(movieData?.props?.pageProps?.work?.work_id)"
          matTooltip="MissAV"
          aria-label="MissAV"
        >
          <i class="fas fa-video"></i> MissAV
        </button>
      </div>

      <h2>Details</h2>
      <div class="other-info">
        <p>
          <strong>ID: </strong>{{ movieData?.props?.pageProps?.work?.work_id }}
        </p>
        <p>
          <strong>Release Date: </strong
          >{{ movieData?.props?.pageProps?.work?.min_date }}
        </p>
        <p>
          <strong>Maker: </strong
          >{{ movieData?.props?.pageProps?.work?.products?.[0]?.maker?.name }}
        </p>
        <p>
          <strong>Label: </strong
          >{{ movieData?.props?.pageProps?.work?.products?.[0]?.label?.name }}
        </p>
        <p>
          <strong>Price: </strong
          >{{ movieData?.props?.pageProps?.work?.products?.[0]?.iteminfo?.price }}
        </p>
        <p>
          <strong>Duration: </strong>
          {{ movieData?.props?.pageProps?.work?.products?.[0]?.iteminfo?.volume }}
          <span>minutes</span>
        </p>
      </div>

      <h2>Performers</h2>
      <div class="actors">
        <div
          *ngFor="let cast of movieData?.props?.pageProps?.work?.casts"
          class="actor-item"
        >
          <img
            loading="lazy"
            [src]="cast?.actor?.image_url || 'assets/favicon.ico'"
            alt="{{ cast?.actor?.name }}"
            class="actor-avatar"
            (click)="searchByActressName(cast?.actor?.name)"
          />
          <div
            class="actor-name"
            (click)="searchByActressName(cast?.actor?.name)"
          >
            {{ cast?.actor?.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="sample-images"
    *ngIf="movieData?.props?.pageProps?.work?.products?.[0]?.sample_image_urls?.length"
  >
    <div class="sample-image-list" (wheel)="onWheelScroll($event)">
      <img
        loading="lazy"
        *ngFor="let sample of movieData?.props?.pageProps?.work?.products?.[0]?.sample_image_urls"
        [src]="sample?.l"
        alt="Sample Image"
        class="sample-image"
      />
    </div>
  </div>
</div>
