<div *ngIf="isLoading" class="loading">Loading...</div>

<div class="thetop" *ngIf="!isLoading">
  <div class="movie-containerr">
    <div class="movie-left">
      <h2>
        {{ movieData.work_id }} -
        {{ movieData.title }}
      </h2>

      <div class="movie-cover">
        <img
          loading="eager"
          [src]="movieData.products[0].image_url || 'assets/favicon.ico'"
          alt="Movie Cover"
          class="movie-cover-img"
        />
      </div>

      <div class="tag-and-actions">
        <div class="tag-list">
          <mat-chip-set>
            <mat-chip *ngFor="let genre of movieData.genres || []" class="tag">
              {{ genre }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>
    </div>

    <div class="movie-right">
      <h2>Options</h2>
      <div class="movie-actions">
        <button
          mat-icon-button
          (click)="downloadMovie()"
          matTooltip="搜索"
          aria-label="搜索"
        >
          <i class="fas fa-search"></i> Search
        </button>

        <button
          mat-icon-button
          (click)="subscribeToMovie()"
          matTooltip="订阅"
          aria-label="订阅"
        >
          <i class="fas fa-rss"></i> Subscribe
        </button>

        <button
          mat-icon-button
          (click)="toJable(movieData.work_id)"
          matTooltip="Jable"
          aria-label="Jable"
        >
          <i class="fas fa-play-circle"></i> Jable
        </button>

        <button
          mat-icon-button
          (click)="toMissAV(movieData.work_id)"
          matTooltip="MissAV"
          aria-label="MissAV"
        >
          <i class="fas fa-video"></i> MissAV
        </button>
      </div>

      <h2>Details</h2>
      <div class="other-info">
        <p><strong>ID: </strong>{{ movieData.work_id }}</p>
        <p><strong>Release Date: </strong>{{ movieData.min_date || "N/A" }}</p>
        <p>
          <strong>Maker: </strong>{{ movieData.products[0].maker || "N/A" }}
        </p>
        <p>
          <strong>Label: </strong>{{ movieData.products[0].label || "N/A" }}
        </p>
        <p>
          <strong>Price: </strong>{{ movieData.products[0].price || "N/A" }}
        </p>
        <p>
          <strong>Duration: </strong>
          {{ movieData.products[0].volume || "N/A" }}
          <span>minutes</span>
        </p>
      </div>

      <h2>Performers</h2>
      <div class="actors">
        <div *ngFor="let cast of actors || []" class="actor-item">
          <img
            loading="lazy"
            [src]="cast.image_url || 'assets/favicon.ico'"
            alt="{{ cast.name || 'Unknown' }}"
            class="actor-avatar"
            (click)="searchByActressName(cast.name || '')"
          />
          <div
            class="actor-name"
            (click)="searchByActressName(cast.name || '')"
          >
            {{ cast.name || "Unknown" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="sample-images"
    *ngIf="(movieData.products[0]?.sample_image_urls || []).length"
  >
    <div class="sample-image-list" (wheel)="onWheelScroll($event)">
      <img
        loading="lazy"
        *ngFor="let sample of movieData.products[0]?.sample_image_urls || []"
        [src]="sample['l'] || 'assets/favicon.ico'"
        alt="Sample Image"
        class="sample-image"
      />
    </div>
  </div>
</div>
