@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
  --app-background: #faf9fd;
  --text-color: black;
  --border-color: #ccc;
  --mat-table-background-color: #faf9fd;
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  --app-background: #1e1e1e;
  --text-color: white;
  --border-color: #444;
  --mat-table-background-color: #1e1e1e;
}
