html,
body {
  height: 100%;
  color: var(--text-color);
}
body {
  margin: 0;
}

h2 {
  margin-bottom: 12px;
  text-align: left;
  margin-bottom: 1rem;
}

.actress-card {
  position: relative;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  transition: transform 0.15s ease;
}

.actress-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatar-img {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 6px;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.avatar-img.blurred {
  filter: blur(8px);
}

.card-content:hover .avatar-img.blurred {
  filter: blur(0);
}

.poster-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.image-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-wrapper:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-wrapper:hover .poster-image.blurred {
  filter: blur(0);
}

.poster-image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.poster-image.blurred {
  filter: blur(8px);
}

i {
  color: var(--text-color);
}

button {
  color: var(--text-color);
  background-color: var(--app-background);
}
