<div class="table-container">
  <div class="filter-header" *ngIf="searchResults.length > 0">
    <div class="filter-wrapper">
      <mat-icon class="filter-search-icon">search</mat-icon>
      <input
        class="filter-input"
        (input)="applyFilter($event)"
        [placeholder]="'TORRENTS.FILTER_PLACEHOLDER' | translate"
        spellcheck="false"
      />
    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort [hidden]="searchResults.length === 0">
    <ng-container matColumnDef="indexer">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="indexer-column">
        <i class="fas fa-database" [matTooltip]="'TORRENTS.TOOLTIP_SOURCE' | translate"></i>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        class="indexer-column"
        (click)="onTitleClick(element)"
        [matTooltip]="'TORRENTS.TOOLTIP_OPEN_SOURCE' | translate"
        matTooltipPosition="right"
      >
        {{ element.indexer }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="title-column">
        <i class="fas fa-heading" [matTooltip]="'TORRENTS.TOOLTIP_TITLE' | translate"></i>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        class="title-column"
        (click)="onRowClick(element)"
      >
        {{ element.title }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="size-column">
        <i class="fas fa-file-archive" [matTooltip]="'TORRENTS.TOOLTIP_SIZE' | translate"></i>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="size-column">
        {{ element.size | fileSize }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="seeders">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="seeders-column">
        <i class="fas fa-upload" [matTooltip]="'TORRENTS.TOOLTIP_SEEDING' | translate"></i>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="seeders-column">
        {{ element.seeders }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="publishDate">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="publishDate-column"
      >
        <i class="fas fa-calendar-alt" [matTooltip]="'TORRENTS.TOOLTIP_DATE' | translate"></i>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="publishDate-column">
        {{ element.publishDate | dateFormat }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{
        success: row.success,
        loading: row.loading,
        error: row.error
      }"
    ></mat-row>
  </mat-table>

  <!-- Empty State -->
  <div class="empty-state" *ngIf="searchResults.length === 0">
    <div class="empty-icon">
      <i class="fas fa-search"></i>
    </div>
    <h3>{{ 'TORRENTS.NO_RESULTS' | translate }}</h3>
    <p>{{ 'TORRENTS.NO_RESULTS_DESC' | translate }}</p>
  </div>
</div>
