<mat-card class="resume-items-card modern-card">
  <mat-card-header>
    <h2 class="card-title">Continue Watching</h2>
  </mat-card-header>

  <mat-card-content>
    <div class="items-grid" *ngIf="resumeItems.length > 0">
      <app-movie-poster
        *ngFor="let item of resumeItems"
        [title]="item.name"
        [imgUrl]="item.primary"
        [link]="item.indexLink"
        [hideImage]="item.hideImage"
        [enableBlur]="dashboardService.isEnableBlur$() | async"
      ></app-movie-poster>
    </div>
  </mat-card-content>
</mat-card>
