<div class="poster-grid">
  <div class="poster-wrapper" *ngFor="let movie of keywordFeeds">
    <app-movie-card
      [id]="movie.id + ''"
      [title]="movie.keyword"
      [imgUrl]="movie.img"
      [actors]="movie.actors.split(',') || []"
      (movieClick)="onMovieCardClick(movie)"
      (movieDelete)="onUnsubscribeClick()"
      [showID]="false"
      [showDetialButton]="true"
      [enableBlur]="ProductionSubscriptionService.isEnableBlur$() | async"
    ></app-movie-card>
  </div>
</div>
