<div class="poster-grid">
  <div class="poster-wrapper" *ngFor="let movie of keywordFeeds">
    <app-movie-card
      [id]="movie.id"
      [title]="movie.title"
      [imgUrl]="movie.img_url || ''"
      [releaseDate]="movie.release_date || ''"
      [actors]="movie.actors"
      (movieClick)="posterClick(movie.full_id)"
      (movieDelete)="onUnsubscribeClick()"
      [showID]="true"
      [showDetialButton]="true"
      [enableBlur]="ProductionSubscriptionService.isEnableBlur$() | async"
    ></app-movie-card>
  </div>
</div>
